<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Log - Nutritional Calculator</title>
        <link rel="shortcut icon" type="image/jpg" href="/assets/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700&display=swap" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" rel="stylesheet">
        <link href="/assets/css/main.css" rel="stylesheet">
        <link href="/assets/css/log.css" rel="stylesheet">
        <link href="/assets/css/calendar.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/">
                <div class="nav-title">Nutritional Calculator</div>
            </a>
            <div class="nav-tabs">
                <a class="nav-link" href="/">
                    <div class="nav-tab">
                        <i class="fas fa-home"></i> Home
                    </div>
                </a>
                <a class="nav-link active" href="/log">
                    <div class="nav-tab">
                        <i class="fas fa-book"></i> Log
                    </div>
                </a>
                <a class="nav-link" href="/goals">
                    <div class="nav-tab">
                        <i class="fas fa-chart-bar"></i> Goals
                    </div>
                </a>
                <a class="nav-link" href="/user/account">
                    <div class="nav-tab">
                        <i class="fas fa-user"></i> Account
                    </div>
                </a>
            </div>
        </nav>
        <main>
            <section class="main-section">
                <h1 class="date-header" id="date-header"></h1>
                <div class="list-search">
                    <input type="text" class="food-search" id="search-input" placeholder="What did you eat?" autocomplete="off">
                        <div class="search-list" id="search-list" style="display: none;">
                            <ul class="search-tabs">
                                <li class="tab active" data-tab="common-results">Common</li>
                                <li class="tab" data-tab="branded-results">Branded</li>
                            </ul>
                            <div class="results">
                                <ul id="common-results" class="tab-content active"></ul>
                                <ul id="branded-results" class="tab-content"></ul>
                            </div>
                        </div>
                    </input>
                    <div id="add-to-display" style="text-align: center;">Search for an item to add to your list</div>
                    <div class="list-add" id="list-add" style="display: none;">
                        <span id="type" style="display: none;"></span>
                        <span id="nix_item_id" style="display: none;"></span>
                        <img src="" id="image">
                        <h2 class="name" id="name"></h2>
                        <span class="servings">
                            Servings: <input id="servings" type="text" name="serving_qty" inputmode="numeric" pattern="[0-9]*" value="1" required>
                            <span id="serving-unit"></span>
                        </span>
                        <div class="calories">
                            <span id="calories-amount"></span> calories
                        </div>
                        <select class="meal-select" id="meal-select" name="meal">
                            <option></option>
                            <option>Breakfast</option>
                            <option>Lunch</option>
                            <option>Dinner</option>
                            <option>Snacks</option>
                        </select>
                        <div class="action-buttons">
                            <button class="custom-button green" id="add-item" type="submit">Add to List</button>
                            <button class="custom-button red" id="clear-item">Clear</button>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="meal-group" id="breakfast">
                        <div class="meal-header">
                            <div class="meal-name">Breakfast
                                <span class="total">0</span>
                            </div>
                            <div class="meal-nutritions">0 Cal</div>
                        </div>
                        <ol class="items">
                        </ol>
                    </div>
                    <div class="meal-group" id="lunch">
                        <div class="meal-header">
                            <div class="meal-name">Lunch
                                <span class="total">0</span>
                            </div>
                            <div class="meal-nutritions">0 Cal</div>
                        </div>
                        <ol class="items">
                        </ol>
                    </div>
                    <div class="meal-group" id="dinner">
                        <div class="meal-header">
                            <div class="meal-name">Dinner
                                <span class="total">0</span>
                            </div>
                            <div class="meal-nutritions">0 Cal</div>
                        </div>
                        <ol class="items">
                        </ol>
                    </div>
                    <div class="meal-group" id="snacks">
                        <div class="meal-header">
                            <div class="meal-name">Snacks
                                <span class="total">0</span>
                            </div>
                            <div class="meal-nutritions">0 Cal</div>
                        </div>
                        <ol class="items"></ol>
                    </div>
                </div>
                <div class="meals-total">
                    <div class="name">Total
                        <span class="total">0</span>
                    </div>
                    <ol class="items">
                        <div class="calories">
                            <span id="calories-total">0</span> Calories
                        </div>
                    </ol>
                </div>
            </section>
            <section>
                <div class="calendar">
                    <h3 class="calendar-header" id="monthAndYear"></h3>
                    <div class="calendar-controls">
                        <label for="month">Jump To: </label>
                        <select name="month" id="month" onchange="jump()">
                            <option value="0">Jan</option>
                            <option value="1">Feb</option>
                            <option value="2">Mar</option>
                            <option value="3">Apr</option>
                            <option value="4">May</option>
                            <option value="5">Jun</option>
                            <option value="6">Jul</option>
                            <option value="7">Aug</option>
                            <option value="8">Sep</option>
                            <option value="9">Oct</option>
                            <option value="10">Nov</option>
                            <option value="11">Dec</option>
                        </select>
                        <select name="year" id="year" onchange="jump()">
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                        <button id="previous" onclick="previous()">Previous</button>
                        <button id="next" onclick="next()">Next</button>
                    </div>
                    <table id="calendar">
                        <thead>
                            <tr>
                                <th>Sun</th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th>Sat</th>
                            </tr>
                        </thead>
                        <tbody id="calendar-body"></tbody>
                    </table>
                    <div class="key">
                        <span><strong>Today</strong></span>
                        <span style="background-color: #f97c0f; color: #fff; padding: 2px; margin-left: 10px;">Current Page</span>
                        <span style="border-bottom: 2px solid #000; padding-bottom: 3px; margin-left: 10px;">Has Log</span>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-name">Nutritional Calculator</div>
        </footer>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/assets/scripts/search.js"></script>
        <script src="/assets/scripts/meal-log.js"></script>
        <script src="/assets/scripts/calendar.js"></script>
    </body>
</html>
