<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Log in - Nutritional Calculator</title>
        <link rel="shortcut icon" type="image/jpg" href="/assets/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700&display=swap" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" rel="stylesheet">
        <link href="/assets/css/main.css" rel="stylesheet">
        <link href="/assets/css/user.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/">
                <div class="nav-title">Nutritional Calculator</div>
            </a>
            <div class="nav-tabs">
                <a class="nav-link" href="/">
                    <div class="nav-tab">
                        <i class="fas fa-home"></i> Home
                    </div>
                </a>
                <a class="nav-link" href="/log">
                    <div class="nav-tab">
                        <i class="fas fa-book"></i> Log
                    </div>
                </a>
                <a class="nav-link" href="/goals">
                    <div class="nav-tab">
                        <i class="fas fa-chart-bar"></i> Goals
                    </div>
                </a>
                <a class="nav-link active" href="/user/account">
                    <div class="nav-tab">
                        <i class="fas fa-user"></i> Account
                    </div>
                </a>
            </div>
        </nav>
        <main>
            <section>
                <div class="button-header">
                    <h1>Log in</h1>
                    <p>Log in to view your food log and goals.</p>
                </div>
                <div class="button-row">
                    <a href="/user/auth/google" class="signin-button">
                        <img src="/assets/images/google.svg"> 
                        <span>Sign in with Google</span>
                    </a>
                    <a href="/user/auth/twitter" class="signin-button">
                        <img src="/assets/images/twitter.svg"> 
                        <span>Sign in with Twitter</span>
                    </a>
                    <a href="/user/auth/github" class="signin-button">
                        <img src="/assets/images/github.svg"> 
                        <span>Sign in with GitHub</span>
                    </a>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-name">Nutritional Calculator</div>
        </footer>
    </body>
</html>
