.date-header  {
    margin-top: 0;
    margin-bottom: 10px;
}

.calendar {
    font-weight: 100;
}

@media (min-width: 721px) {
    .calendar {
        margin-top: 35px;
        margin-left: 20px;
    }
}

@media (max-width: 720px) {
    .calendar {
        margin-bottom: 20px;
    }
}

.calendar table {
    border-collapse: collapse;
}

.calendar td {
    text-align: center;
    padding: 0.65rem;
    font-size: 1.1em;
    border: 1px solid #dee2e6;
}

.calendar td.today {
    background-color: #f97c0f;
}

.calendar td.today a {
    color: #fff;
}

.calendar a.current {
    font-weight: bold;
}

.calendar a.has-log {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
}

.calendar th {
    padding: 0 4px;
    min-width: 45px;
    height: 25px;
    background-color: #f97c0f;
    color: #fff;
    border: 1px solid #fcbe89;
}

.calendar a {
    text-decoration: none;
    color: #000;
    vertical-align: middle;
}

.calendar a:hover {
    text-decoration: underline;
}

.calendar .calendar-controls {
    margin-bottom: 8px;
}

.calendar .calendar-header {
    margin-top: 0;
    margin-bottom: 8px;
    padding-bottom: 2px;
    display: inline-block;
    border-bottom: 1px solid #8e8e8e;
}

.calendar label {
    font-size: 14px;
}

.calendar select {
    cursor: pointer;
    width: 60px;
    padding: 5px;
    margin-left: 1px;
    margin-right: 1px;
    outline: 0;
    font-size: 14px;
    justify-self: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff 
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") 
        no-repeat right .5rem center/8px 10px;
    border: 1px solid #646464;
    border-radius: 0.25em;
}

.calendar button {
    background-color: #fff;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 2px;
    transition: color 0.1s;
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    outline: 0;
}

.calendar button:hover {
    background-color: #646464;
    color: #fff;
}

.calendar .key {
    margin-top: 15px;
    font-size: 14px;
}