* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
}

.wrapper {
    /* grid-template-columns: 14% 1fr 40%; */
    grid-template-columns: 235px 723px 672px;
    grid-template-areas: "nav main aside";
}

@media only screen and (min-width: 768px) {
    .wrapper{
        grid-template-rows: 30% 1fr;
        grid-template-columns: none;
    }
}

@media only screen and (min-width: 992px) {
    .wrapper {
        grid-template-columns: 200px 1fr 35%;
        grid-template-areas: "nav main aside";
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        /* grid-template-columns: 14% 1fr 40%; */
        grid-template-columns: 235px  723px 672px;
        grid-template-areas: "nav main aside";
    }
}