* {
    box-sizing: border-box;
}

@media screen and (min-width: 992px) {
    .wrapper {
        display: flex;
    }

    nav {
        flex: 0 0 225px;
        max-width: 225px;
    }

    main {
        flex-grow: 1;
        overflow-y: auto;
    }
}

main {
    display: flex;
}

main > section {
    flex-basis: 100%;
}