* {
    box-sizing: border-box;
}

@media (min-width: 836px) {
    .wrapper {
        display: flex;
    }

    main {
        flex-grow: 1;
    }

    nav {
        flex: 0 0 225px;
        max-width: 225px;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    
}

main > section {
    /* flex: 1 1 100vw; */
    margin: 5px;
}

#log {
    width: 700px;
}

/*

1460px

> nav 225 log 700px

< nav 195 log 620px



*/