* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
}

main {
    flex-grow: 1;
}

nav {
    flex: 0 0 225px;
    max-width: 225px;
}

main {
    display: flex;
    flex-wrap: wrap;
    
}

main > section {
    /* flex: 1 1 100vw; */
    margin: 5px;
}

#list {
    width: 674px;
}