.list-add {
    display: grid;
    grid-template-areas:
        "search search search"
        "result meal-select .";
    grid-template-columns: 100px 400px 1fr;
    border: 1px solid #000;
    margin-bottom: 15px;
    padding: 10px 20px;
}

.list-add > input[type=search].food-search {
    grid-area: search;
    padding: 8px 15px;
    border: 1px solid #646464;
    border-radius: 4px;
    font-size: 20px;
    outline: 0;
    margin-bottom: 15px;
    -webkit-appearance: textfield;
}

.list-add > input[type=search].food-search:focus {
    border: 1px solid #f97c0f;;
}

.list-add > input[type=search].food-search::placeholder {
    color: #000;
}

.list-add > .search-result {
    grid-area: result;
    justify-self: center;
}

.list-add img {
    justify-self: center;
    width: 86px;
    border: 1px solid #ababab;
}

.list-add .name {
    text-align: center;
    font-weight: 700;
    padding-top: 5px;
    margin: 0;
}

.list-add > .meal-select {
    grid-area: meal-select;
}


/* LIST */

.list {
    border: 1px solid #000;
}

.meal-group > .meal-name {
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #f97c0f;;
    border-bottom: 1px solid #000;
}

.meal-group:not(:first-child) > .meal-name {
    border-top: 1px solid #000;
}

.meal-group > .items {
    padding: 0 20px;
    margin: 0;
}

.meal-group > .items:empty {
    height: 80px;
}

.meal-group .item {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.meal-group .item:not(:last-child) {
    border-bottom: 1px solid #ababab;
}

.meal-group .item > .item-info {
    display: inline-block;
    margin-left: 15px;
}

.meal-group .item > img {
    width: 64px;
    height: 100%;
    border: 1px solid #ababab;
}

.meal-group .item > .item-info > p {
    margin: 0;
}

.meal-group .item > .item-info > .name {
    display: inline-block;
    border-bottom: 1px solid #000;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.meals-summary {
    margin-top: 10px;
    border: 1px solid #000;
}

.meals-summary > .name {
    padding: 8px;
    padding-left: 18px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #f97c0f;;
    border-bottom: 1px solid #000;
}

.test-calendar {
    height: 400px;
    width: 500px;
    text-align: center;
    background-color: #646464;
    color: white;
    border: 1px solid #000;
}