.list-search {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 15px;
}

.list-add {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-areas:
        "image name  mealSelect"
        "image servings add-item"
        "image caloriesdisplay add-item";
    
}

@media (max-width: 835px) {
    .list-add {
        grid-template-columns: 100px repeat(2, 1fr);
    }
}

@media (min-width: 836px) {
    .list-add {
        grid-template-columns: 100px 40% 1fr;
    }
}

.list-search > input[type=search].food-search {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #646464;
    border-radius: 4px;
    font-size: 20px;
    outline: 0;
    margin-bottom: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.list-search > input[type=search].food-search:focus {
    border: 1px solid #f97c0f;
}

.list-search > input[type=search].food-search::placeholder {
    color: #646464;
}

.list-add > img {
    grid-area: image;
    width: 84px;
    border: 1px solid #ababab;
}

.list-add > #servingsunit {
    display: flex;
    grid-area : servings;
    vertical-align:bottom;
    height: 40px;
    margin-left: 111px;
    text-align: center;

    background-color: #fff;
    
    align-items: center;
    border-radius: 5px;
}

.list-add > .servings > input {
    grid-area: servings;
    height: 30px;
    width: 30px;
    font-size: 1.5 em;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    border: 1 px solid #f97c0f;
    border-radius: 5px;
}

.list-add > .add-item {
    grid-area: add-item;
    justify-self: right;
    background-color: #fff;
    border: 1.5px solid #f97c0f;
    border-radius: 5px;
}

#mealSelect {
    grid-area:mealSelect;
    max-height: 40px;
    width: 69%;
    margin-bottom: 2px;
    justify-self: right;
}

/* RESULTS */

.search-list {
    width: 668px;
    position: absolute;
    z-index: 100;
    /* fixes list being under other meal names (that are sticky) */
    -webkit-transform: translate3d(0,0,0);
    top: 112px;
    border: 1px solid #f97c0f;
    background-color: #fff;
    border-radius: 5px;
}

.search-list .search-tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px;
    margin-bottom: 2px;
    border-bottom: 1px solid #646464;
}

.search-list .search-tabs > .tab {
    cursor: pointer;
    padding: 7px 5px;
    margin-right: 2px;
    margin-bottom: -1px;
}

.search-list .search-tabs > .tab.active {
    border-bottom: 3px solid #000;
    font-weight: 700;
}

.search-list .search-tabs > .tab:not(.active):hover {
    color: #646464;
}

.search-list .results > ul {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.search-list .results li {
    display: flex;
    align-items: center;
    line-height: 1.2em;
    padding: 8px 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #efecec;
}

.search-list .results li img {
    width: 32px;
    vertical-align: middle;
    margin-right: 10px;
}

.search-list .results li .info {
    flex-grow: 1;
    text-align: right;
    color: #646464;
    font-size: 0.9em;
}

.search-list .results li:hover,
.search-list .results li:hover > .info {
    cursor: pointer;
    background-color: #f97c0f;
    color: #fff;
}

.search-list .tab-content:not(.active) {
    display: none;
}

/* LIST */

.list {
    border: 1px solid #000;
}

.meal-group > .meal-name {
    position: sticky;
    top: 0;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #f97c0f;;
    border-bottom: 1px solid #000;
}

.meal-group:not(:first-child) > .meal-name {
    border-top: 1px solid #000;
}

.meal-group > .items {
    padding: 0 20px;
    margin: 0;
}

.meal-group > .items.empty {
    height: 80px;
}

.meal-group .item {
    display: grid;
    grid-template-areas:
        "image name foodcalories expand-item"
        "image servings foodcaloriestext expand-item";
    grid-template-columns: 64px 35% 1fr 30px;
    column-gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.meal-group .item:not(:last-child) {
    border-bottom: 1px solid #ababab;
}

.meal-group .item > img {
    grid-area: image;
    place-self: center;
    width: 64px;
    border: 1px solid #ababab;
}

.list-add > .name,
.meal-group .item > .name {
    text-transform: capitalize;
    grid-area: name;
    font-weight: 700;
    margin: 0;
}

.list-add > .servings,
.meal-group .item > .servings {
    grid-area: servings;
    align-self: center;
    margin: 0;
}

.meal-group .item > .servings > strong {
    font-size: 1.25em;
}

.meal-group .item > .expand-item {
    grid-area: expand-item;
    font-size: 32px;
    place-self: center;
}

.meal-group .item > #deletemeal{
   
    cursor:pointer;
}

.meal-group .item > .fa-times{
    grid-area: foodcalories;
    opacity: 50%;
    align-self: flex-end;
    cursor : pointer;
}

.meal-group .item > .fa-chevron-right{
    opacity: 70%;
}

.meal-group .item > #foodcalories{
    grid-area: foodcalories;
    align-self: center;
    text-align: end;
}

.meal-group .item > #foodcaloriestext{
    grid-area: foodcaloriestext;
    text-align: end;
}

.meals-total {
    height: 100px;

    position: sticky;
    z-index: 10;
    bottom: 10px;
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #000;
    /* TODO: REMOVE SHADOW WHEN NO LONGER FIXED */
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.5);
}

.meals-total > .name {
    padding: 8px;
    padding-left: 18px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #f97c0f;;
    border-bottom: 1px solid #000;
}

.test-calendar {
    height: 300px;
    width: 400px;
    text-align: center;
    background-color: #646464;
    color: white;
    border: 1px solid #000;
}

