.list-add {
    display: grid;
    grid-template-areas:
        "search search search"
        "image name ."
        "image servings add-item";
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 15px;
}

@media (max-width: 835px) {
    .list-add {
        grid-template-columns: 100px repeat(2, 1fr);
    }
}

@media (min-width: 836px) {
    .list-add {
        grid-template-columns: 100px 40% 1fr;
    }
}

.autocomplete-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 112px;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
    background-color: #f97c0f; 
}

.autocomplete-items .active {
    background-color: #f97c0f !important; 
    color: #ffffff; 
}

.autocomplete-items .active img,
.autocomplete-items img {
    width: 32px;
    margin-right: 5px;
}

.list-add > input[type=search].food-search {
    grid-area: search;
    padding: 8px 15px;
    border: 1px solid #646464;
    border-radius: 4px;
    font-size: 20px;
    outline: 0;
    margin-bottom: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.list-add > input[type=search].food-search:focus {
    border: 1px solid #f97c0f;
}

.list-add > input[type=search].food-search::placeholder {
    color: #646464;
}

.list-add > img {
    grid-area: image;
    width: 84px;
    border: 1px solid #ababab;
}

.list-add > .servings > input {
    grid-area: servings;
    width: 40px;
    font-size: 1.1 em;
    font-weight: bold;
}

.list-add > button {
    grid-area: nutrition;
    justify-self: end;
    height: 40px;
    font-size: 1em;
    background-color: #fff;
    border: 1px solid #f97c0f;
    border-radius: 5px;
}

.list-add > .add-item {
    grid-area: add-item;
}

/* LIST */

.list {
    border: 1px solid #000;
}

.meal-group > .meal-name {
    position: sticky;
    top: 0;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #f97c0f;;
    border-bottom: 1px solid #000;
}

.meal-group:not(:first-child) > .meal-name {
    border-top: 1px solid #000;
}

.meal-group > .items {
    padding: 0 20px;
    margin: 0;
}

.meal-group > .items:empty {
    height: 80px;
}

.meal-group .item {
    display: grid;
    grid-template-areas:
        "image name . expand-item"
        "image servings . expand-item";
    grid-template-columns: 64px 35% 1fr 30px;
    column-gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.meal-group .item:not(:last-child) {
    border-bottom: 1px solid #ababab;
}

.meal-group .item > img {
    grid-area: image;
    width: 64px;
    border: 1px solid #ababab;
}

.list-add > .name,
.meal-group .item > .name {
    grid-area: name;
    font-weight: 700;
    margin: 0;
}

.list-add > .servings,
.meal-group .item > .servings {
    grid-area: servings;
    align-self: center;
    margin: 0;
}

.meal-group .item > .servings > strong {
    font-size: 1.25em;
}

.meal-group .item > .expand-item {
    grid-area: expand-item;
    font-size: 32px;
    place-self: center;
}

.meals-total {
    height: 100px;

    position: sticky;
    z-index: 10;
    bottom: 10px;
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #000;
    /* TODO: REMOVE SHADOW WHEN NO LONGER FIXED */
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.5);
}

.meals-total > .name {
    padding: 8px;
    padding-left: 18px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #f97c0f;;
    border-bottom: 1px solid #000;
}

.test-calendar {
    height: 300px;
    width: 400px;
    text-align: center;
    background-color: #646464;
    color: white;
    border: 1px solid #000;
}

