body, html {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100%;
}

/* MAIN */

main {
    grid-area: main;
    margin: 15px;
}

@media (max-width: 991px) {
    main {
        padding-top: 60px;
    }
}

/* NAV */

nav {
    grid-area: nav;
    position: fixed;
    background-color: #fb8721;
}

nav a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

nav .nav-link:hover .nav-tab,
nav .nav-link.active .nav-tab {
    border-bottom: 2px solid #fff;
    color: #fff;
}

nav .nav-link.active .nav-tab {
    font-weight: 700;
}

nav .nav-title {
    color: #fff;
    text-align: center;
    font-weight: 700;
}

nav .nav-tabs {
    display: flex;
}

@media (max-width: 991px) {
    nav {
        width: 100%;   
        padding-top: 2px;
        border-bottom: 1px solid #7d7d7d;
        box-shadow: 0 1px 2px rgba(0,0,0,0.35);
    }

    .nav-title {
        font-size: 20px;
        margin: 0;
    }

    .nav-tabs {
        justify-content: center;
    }

    .nav-link {
        font-size: 15px;    
    }

    .nav-tab {
        margin: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
    }

    .nav-tab i {
        margin-right: 5px;
    }

}

@media (min-width: 992px) {
    nav {
        width: 210px;
        height: 100%;
        box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.35)
    }

    .nav-tabs {
        flex-direction: column;
    }

    .nav-title {
        font-size: 32px;
        margin: 0 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 3px solid #fff;
    }

    .nav-link {
        font-size: 20px;
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        text-transform: uppercase;
    }

    .nav-tab {
        display: inline;
        padding: 5px;
    }

    .nav-tab i {
        margin-right: 7px;
    }
}

@media (min-width: 1200px) {
    nav {
        width: 225px;
    }
}

aside {
    grid-area: aside;
}
